<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="flex justify-between text-3xl my-3">
    <ul class="flex ml-10">
        <li><a href="/">Face Drawer</a></li>
    </ul>
    {% block navigate %}
    {% endblock %}
</nav>
<hr>

<div class="parent">
    <div class="block" style=" width: 250px; height: 250px; position: absolute; top: 50%; left: 50%; margin: -125px 0 0 -125px">
        {% block page_content %}{% endblock %}
    </div>
</div>

</body>
</html>

