{% extends "index.html" %}

{% block name %}
<span class="d-none d-xl-inline-block user-profile-name" title="{{ full_name }}">
                                             {{ full_name }}                                 </span>
{% endblock %}

{% block front_card %}
<img src="{{ url_for('static', path=card_path) }}" class="img-fluid" alt="Фронтальная сторона">
{% endblock %}

{% block back_card %}
<img src="{{ url_for('static', path='/back.png') }}" class="img-fluid" alt="Задняя сторона">
{% endblock %}