{% extends "base.html" %}


{% block title %}Face Drawer{% endblock %}


{% block navigate %}
<ul class="flex gap-5 mr-10">
    {% if not user %}
    <li><a href="/registration">Registration</a></li>
    <li><a href="/login">LogIn</a></li>
    {% else %}
    <form action="/auth/logout" method="post">
        <button type="submit" value="" class="btn-link">Logout</button>
    </form>
    {% endif %}
</ul>
{% endblock %}


{% block page_content %}
<div class="page-header">
    {% if user.is_verified %}
    <h1>Hello, {{ user.username }}!</h1>
    <a href="/">Set card data</a>
    <a href="/">Set photo</a>
    {% else %}
    <h1>Hello, stranger!</h1>
    {% endif %}
</div>
{% endblock %}

